html {
	margin:0;
	padding:0;
	overflow:auto;
}

body, h1, h2, h3 {
	margin: 0;
}

#corner {
	position:absolute;
	top:10px;
	right:10px;
}

header {
	display: flex;
	justify-content: space-between;    /* Alinhamento horizontal */
	align-items: center;               /* Alinhamento vertical */
	background-color: #7C5E99;
	text-align: right;
	border-bottom: 10px solid #000000;
	padding: 10px 20px;
}

h1 {
	font-family: "Press Start 2P", sans-serif;
	color: #FFFFFF;
	text-shadow: 5px 5px 0 #000000;
}

a{
	display: inline-flex;
	align-items: center;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Fira Code", sans-serif;
	font-weight: 500;
	text-decoration: none;
	margin-right: 30px;
}

a::before {
	content: "";
	display: inline-block;
	background-color: #F25A70;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

#button {
	display: inline-block;
	background-color: #F25A70;
	padding: 18px 20px;
	box-shadow: 5px 5px 0 #000000;
	margin-right: 0;
	transition: transform 100ms linear, opacity 200ms ease-in-out;
}

#button:hover {
	transform: scale(1.08);
	opacity: 0.5;
}


/*

**
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
**


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

** HTML5 display-role reset for older browsers **
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/